:root {
  --main-bg: #e2e6ec;
  --gray: #f5f7fa;
  --dark-gray: #9ba3af;
  --gray-dark-400: #d7d8da;
  --footer-gray: #5b6573;
  --content-bg: #fff;
  --blue: #007bff;
  --light-blue: #00a1ef;
  --main-text: #212529;
  --form-orange: #ff7c44;
  --btn-orange: #fc684e;
  --btn-orange-hover: #fd8671;
  --form-btn: #104b59;
  --rem-size-desktop: 20px;
  --rem-size-tablet: 18px;
  --rem-size-mobile: 16px;
  --box-shadow: 0 2px 6px 0 rgba(0,0,0,.16);
  --box-shadow2: 0 5px 30px 0 rgba(0, 0, 0, .3);
  --box-shadow-passive: 0 5px 30px 0 rgba(35, 43, 54, .15);
  --box-shadow-active: 0 5px 30px 0 rgba(27, 45, 70, .39);
}

html {
  font-size: var(--rem-size-desktop);
}

body {
  font-family: sans-serif;
  background-color: var(--main-bg);
}

.main {
  max-width: 1560px;
  width: 100%;
  min-height: 100vh;
  margin-inline: auto;
  color: var(--main-text);
  background-color: var(--content-bg);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 40px;
}

input {
  border: none;
  box-sizing: border-box;
  outline: none;
}

.opened-menu {
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: sans-serif;
  border: none;
  cursor: pointer;
}

.mobile {
  display: none;
}

.btn {
  height: 2rem;
  padding-inline: 1.5rem;
  border-radius: 3px;
}

.btn-orange {
  font-size: .8rem;
  color: var(--content-bg);
  background-color: var(--btn-orange);
}

.btn-orange:hover {
  background-color: var(--btn-orange-hover);
}

.btn-white {
  font-size: .8rem;
  color: var(--light-blue);
  background-color: var(--content-bg);
  border: 1px solid currentColor;
}

.range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 4px;
  background: #dd4d11;
  outline: none;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: .8rem;
  height: .8rem;
  background: var(--content-bg);
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: .8rem;
  height: .8rem;
  background: var(--content-bg);
  cursor: pointer;
}

select:focus {
  outline: none;
}

@media screen and (max-width: 1200px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: var(--rem-size-tablet);
  }

  .container {
    padding-inline: 20px;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: var(--rem-size-mobile);
  }
}
