.transport {
  margin-block-end: 3rem;
}

.transport__title {
  margin-block-end: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.transport__inner {
  display: flex;
  margin-block-end: 1rem;
}

.transport__item {
  width: 25%;
  padding: 1rem;
  transition: all 240ms;
  border-radius: 4px;
}

.transport__item:nth-child(odd) {
  background-color: var(--gray);
}

.transport__item:nth-child(even) {
  background-color: var(--main-bg);
}

.transport__item:hover {
  color: var(--content-bg);
  background-color: var(--light-blue);
  box-shadow: var(--box-shadow2);
}

.transport__img {
  margin-block-end: .5rem;
}

.transport__item_title {
  margin-block-end: 1rem;
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 600;
  text-align: center;
}

.transport__item_text {
  line-height: 1.25;
  font-size: .8rem;
}

.transport__link {
  font-size: .8rem;
  color: var(--light-blue);
}

@media screen and (max-width: 992px) {
  .transport__inner {
    flex-direction: column;
    row-gap: 1rem;
  }

  .transport__item {
    width: 100%;
  }
}
